/* Browser/Display fixes */
html,
body{
    margin: 0;
}

/*Box sizing fix from https://css-tricks.com/almanac/properties/b/box-sizing/ */
*, *::before, *::after {
    box-sizing: border-box;
}

.content {
    margin: 0 auto;
    max-width: 1440px;
    width: 95%;
}