/* Browser/Display fixes */
html,
/*Box sizing fix from https://css-tricks.com/almanac/properties/b/box-sizing/ */
*, *::before, *::after {
    box-sizing: border-box;
}
body{
    align-content: space-between;
    background-color: #5d6949;
    background-image: url("../Images/page1backgroundtexture.png");
    background-position: center;
    background-size: cover;
    color: rgb(248, 248, 248);
    height: 1440px;
    justify-content: space-between;
    margin: 0;
    text-align: center;
    width: 1440px;
}
.title {
    display:flexbox;
    font-size: 200px;
    font-style: normal;
    font-weight: 400;
    height: 146px;
    line-height: 50px;

}
.toolbar {
    display: flex;   
    flex-direction: row;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    height: 36px;
    line-height: 500px;
}
.login {
    align-content: center;
    flex-direction: row;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    height: 36px;
}